.sideContainer {
    display: flex;
    flex-direction: column;
    border-style: solid;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 2px;
    border-radius: 15px;
    border-color: black;
    padding: 10px;
    margin-left: 10px;
}

.container {
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    color: white;
}

.detail {
    display: flex;
    justify-content: space-between;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.form-item {
    margin: 5px
}